@use "variables" as var;
@use "mixins" as mix;


.page-color {
    background-color: var.$primary-color;
}

.core-size {
    width: 100vw;
    min-height: 100vh;
}

.child-component-size {
    width: 50vw;
}

.profile-panel-size {
    width: 30vw;
    margin: auto;
}

.profile-btn {
    width: 50%;
}

.auth-child {
    @include mix.width-height-sizing(50vw, 100vh);
}

.auth-side {
    height: 90vh;
}

.image-side {
    background-color: black;
}

.auth-logo {
    @include mix.width-height-sizing(20%, 10vh);
}

.auth-form-sign-in {
    @include mix.width-height-sizing(45%, 50%);
}

.auth-form-sign-up {
    @include mix.width-height-sizing(45%, 55%);
}

.auth-btn {
    width: 50%;
}

.workouts-inner {

    .workout-box {
        height: 2.5rem;
        border-radius: 5px;
        background-color: #fcf5f6;
        margin-bottom: 0.5rem;
        padding: 0 1rem 0 1rem;
        font-weight: 550;
    
        &:hover {
            background-color: var.$secondary-color;
            cursor: pointer;
        }
    }
}

.workout-exercises-box {
    border-radius: 5px;
    background-color: #fcf5f6;
    margin-bottom: 0.5rem;
    padding: 0 1rem 0 1rem;
    font-weight: 550;

    .exercise-sets {
        padding-bottom: 0.5rem;

        &:first-child {
            padding-top: 0.5rem;
        }
    }

    .set {
        width: 50%;
    }
}

.add-workout-box {
    border-radius: 5px;
    background-color: #fcf5f6;
    margin-bottom: 0.5rem;
    padding: 0 1rem 0 1rem;
    font-weight: 550;
}